/* All */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;400;500;600;700;800&display=swap');

a,p,h1,h2,h3,h4 {
    padding: 15px;
}

body{
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    background-color: black;
}

body:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.06;
    background-image: url("/img/statics.gif");
}

.wraps{
    padding: 1%;
}

a {
    color: rgb(57, 0, 212);
}



/* Header  */

.col-100 {
    background: #e2e2e207;
    display: flex;
    justify-content: space-between;
}

/* .col-50 {
    width: 50%;
} */

ul.list-menu {
    list-style: none;
    display: inline-flex
}

a {
    text-decoration: none;
}

.main-menu.col-50 {
    text-align: end;
}

ul.list-menu li a{
    position: relative;
    font-weight:bold;
    color: rgb(255, 255, 255);
    margin: 0px 15px;
}
ul.list-menu li a:after{
    position: absolute;
    bottom: 7px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #362aa0;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);        
}
ul.list-menu li a:hover:after{
    opacity:1;
    transform: translateY(15px)
}